In [1]:
import pyspark
from pyspark.sql import SparkSession

pyspark.__version__

'3.2.1'

## Finally some progress. Thrift server exposes a jdbc/odbc connection, so you can load/save to it using your local spark context. You can not use it to directly connect to the metastore.

- Now we get a schema error instead
- Should we switch to using a Postgres metadata server and directly connect?

In [2]:
spark = SparkSession.builder\
          .appName("entr_notebook")\
          .config("spark.sql.warehouse.dir", "/home/jovyan/warehouse")\
          .config("spark.hadoop.javax.jdo.option.ConnectionURL", "jdbc:derby:;databaseName=/home/jovyan/warehouse/metastore_db;create=true")\
          .enableHiveSupport()\
          .getOrCreate()

spark.sql("use entr_warehouse")

DataFrame[]

In [3]:
spark.sql("show tables").toPandas()

,namespace,tableName,isTemporary
0,entr_warehouse,dim_asset_reanalysis_dataset,False
1,entr_warehouse,dim_asset_wind_plant,False
2,entr_warehouse,dim_asset_wind_turbine,False
3,entr_warehouse,dim_entr_tag_list,False
4,entr_warehouse,fct_entr_plant_data,False
5,entr_warehouse,fct_entr_reanalysis_data,False
6,entr_warehouse,fct_entr_wtg_scada,False
7,entr_warehouse,int_entr_era5_sample__cast,False
8,entr_warehouse,int_entr_merra2_sample__cast,False
9,entr_warehouse,int_entr_plant_sample__cast,False
10,entr_warehouse,int_entr_scada_sample__cast,False
11,entr_warehouse,int_openoa_plant_curtail_avail_data__filtered,False
12,entr_warehouse,int_openoa_plant_meter_data__filtered,False
13,entr_warehouse,int_openoa_reanalysis_data__filtered,False
14,entr_warehouse,int_openoa_wtg_scada__filtered,False
15,entr_warehouse,int_openoa_wtg_scada__flagged,False
16,entr_warehouse,la_haute_borne_era5_sample,False
17,entr_warehouse,la_haute_borne_merra2_sample,False
18,entr_warehouse,la_haute_borne_plant_data_sample,False
19,entr_warehouse,la_haute_borne_scada_sample,False
20,entr_warehouse,map_entr_era5_sample,False
21,entr_warehouse,map_entr_merra2_sample,False
22,entr_warehouse,map_entr_plant_sample,False
23,entr_warehouse,map_entr_scada_sample,False
24,entr_warehouse,openoa_curtailment_and_availability,False
25,entr_warehouse,openoa_curtailment_and_availability_tag_metadata,False
26,entr_warehouse,openoa_dim_table_metadata,False
27,entr_warehouse,openoa_dim_wind_plant,False
28,entr_warehouse,openoa_dim_wind_turbine,False
29,entr_warehouse,openoa_reanalysis,False
30,entr_warehouse,openoa_reanalysis_tag_metadata,False
31,entr_warehouse,openoa_revenue_meter,False
32,entr_warehouse,openoa_revenue_meter_tag_metadata,False
33,entr_warehouse,openoa_wtg_scada,False
34,entr_warehouse,openoa_wtg_scada_tag_metadata,False
35,entr_warehouse,seed_asset_plant,False
36,entr_warehouse,seed_asset_reanalysis_dataset,False
37,entr_warehouse,seed_asset_wind_turbine,False
38,entr_warehouse,seed_entr_tag_list,False
39,entr_warehouse,seed_la_haute_borne_asset_table,False
40,entr_warehouse,seed_la_haute_borne_era5_tag_map,False
41,entr_warehouse,seed_la_haute_borne_merra2_tag_map,False
42,entr_warehouse,seed_la_haute_borne_scada_tag_map,False
43,entr_warehouse,seed_openoa_wtg_scada_dq_params,False
44,entr_warehouse,seed_plant_data_tag_map,False
45,entr_warehouse,stg_entr_era5_sample,False
46,entr_warehouse,stg_entr_merra2_sample,False
47,entr_warehouse,stg_entr_plant_sample,False
48,entr_warehouse,stg_entr_scada_sample,False

## Bad attempts to  connect to the thrift server as a metastore.

In [ ]:
 val ses = SparkSession
          .builder()
          .appName("interfacing spark sql to hive metastore without configuration file")
          .config("hive.metastore.uris", "thrift://localhost:9083")
          .enableHiveSupport()
          .getOrCreate()

In [4]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.\
          appName("entr_notebook").\
          config("hive.metastore.uris", "thrift://localhost:9083").\
          enableHiveSupport().\
          getOrCreate()

In [5]:
spark.sql("show databases;")

AnalysisException: org.apache.hadoop.hive.ql.metadata.HiveException: java.lang.RuntimeException: Unable to instantiate org.apache.hadoop.hive.ql.metadata.SessionHiveMetaStoreClient

## Try directly reading from metastore_db derby

In [11]:
spark = SparkSession.builder.\
          appName("entr_notebook").\
          config("spark.sql.warehouse.dir", "/home/jovyan/warehouse").\
          config("spark.hadoop.javax.jdo.option.ConnectionURL", "jdbc:derby:;databaseName=/home/jovyan/warehouse/metastore_db").\
          enableHiveSupport().\
          getOrCreate()
spark.sql("show databases")

AnalysisException: org.apache.hadoop.hive.ql.metadata.HiveException: org.apache.thrift.transport.TTransportException

In [3]:
import findspark
findspark.init()
import pyspark
import random
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.context import SparkContext
from pyspark.sql import SQLContext
from pyspark.sql import functions as F
from pyspark.sql.types import *
import time
config = pyspark.SparkConf().setAll([(
    "spark.executor.memory", "64g"), (
    "spark.executor.cores", "8"), (
    "spark.cores.max", "8"), (
    "spark.driver.memory", "64g"), (
    "spark.sql.shuffle.partitions", "50"),
    ("spark.driver.maxResultSize","5g"),
    ("spark.sql.execution.arrow.enabled", "true")])
#    ("spark.driver.extraClassPath”,“/home/jovyan/host/gcs-connector-latest-hadoop2.jar:/home/jovyan/spark-bigquery-with-dependencies_2.12-0.21.1.jar”)])
spark = SparkSession.builder.appName("PysparkExample").config(conf=config).getOrCreate()
sql = SQLContext(spark)
sc = spark.sparkContext
#spark._jsc.hadoopConfiguration().set(“google.cloud.auth.service.account.json.keyfile”,“/home/jovyan/entrhub-entrguest-abf6082b3146.json”)
#spark.sparkContext._jsc.hadoopConfiguration().set(“fs.gs.impl”, “com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem”)
#spark.sparkContext._jsc.hadoopConfiguration().set(“fs.AbstractFileSystem.gs.impl”, “com.google.cloud.hadoop.fs.gcs.GoogleHadoopFS”)
#spark.sparkContext._jsc.hadoopConfiguration().set(“google.cloud.auth.service.account.enable”, “true”)
#spark.sql(“set spark.sql.legacy.timeParserPolicy=LEGACY”)
#bucket = “entrhub”
#spark.conf.set(‘temporaryGcsBucket’, bucket)

In [3]:
spark = SparkSession.builder \
    .master("local")\
    .appName("hive_pyspark")\
    .config("hive.metastore.uris", "thrift://localhost:10000")\
    .enableHiveSupport().getOrCreate()

In [5]:
spark = SparkSession.builder \
.master("local")\
.appName("hive_pyspark")\
.config("hive.metastore.uris", "jdbc:hive2://localhost:10000")\
.getOrCreate()

AttributeError: 'Builder' object has no attribute 'format'

In [2]:
df=spark.sql("show databases")
df.show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [4]:
df = spark.read.option("url", "jdbc:hive2://localhost:10000").option("dbtable", "people").format("jdbc").load()

Py4JJavaError: An error occurred while calling o165.load.
: java.sql.SQLException: org.apache.hive.service.cli.HiveSQLException: Error running query: org.apache.spark.sql.AnalysisException: Table or view not found: people; line 1 pos 14;
'Project [*]
+- 'Filter (1 = 0)
   +- 'UnresolvedRelation [people], [], false

	at org.apache.spark.sql.hive.thriftserver.HiveThriftServerErrors$.runningQueryError(HiveThriftServerErrors.scala:43)
	at org.apache.spark.sql.hive.thriftserver.SparkExecuteStatementOperation.org$apache$spark$sql$hive$thriftserver$SparkExecuteStatementOperation$$execute(SparkExecuteStatementOperation.scala:325)
	at org.apache.spark.sql.hive.thriftserver.SparkExecuteStatementOperation$$anon$2$$anon$3.$anonfun$run$2(SparkExecuteStatementOperation.scala:230)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.sql.hive.thriftserver.SparkOperation.withLocalProperties(SparkOperation.scala:79)
	at org.apache.spark.sql.hive.thriftserver.SparkOperation.withLocalProperties$(SparkOperation.scala:63)
	at org.apache.spark.sql.hive.thriftserver.SparkExecuteStatementOperation.withLocalProperties(SparkExecuteStatementOperation.scala:43)
	at org.apache.spark.sql.hive.thriftserver.SparkExecuteStatementOperation$$anon$2$$anon$3.run(SparkExecuteStatementOperation.scala:230)
	at org.apache.spark.sql.hive.thriftserver.SparkExecuteStatementOperation$$anon$2$$anon$3.run(SparkExecuteStatementOperation.scala:225)
	at java.base/java.security.AccessController.doPrivileged(Native Method)
	at java.base/javax.security.auth.Subject.doAs(Subject.java:423)
	at org.apache.hadoop.security.UserGroupInformation.doAs(UserGroupInformation.java:1878)
	at org.apache.spark.sql.hive.thriftserver.SparkExecuteStatementOperation$$anon$2.run(SparkExecuteStatementOperation.scala:239)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:515)
	at java.base/java.util.concurrent.FutureTask.run(FutureTask.java:264)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: org.apache.spark.sql.AnalysisException: Table or view not found: people; line 1 pos 14;
'Project [*]
+- 'Filter (1 = 0)
   +- 'UnresolvedRelation [people], [], false

	at org.apache.spark.sql.catalyst.analysis.package$AnalysisErrorAt.failAnalysis(package.scala:42)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis$1(CheckAnalysis.scala:123)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis$1$adapted(CheckAnalysis.scala:94)
	at org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:263)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1(TreeNode.scala:262)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1$adapted(TreeNode.scala:262)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1431)
	at scala.collection.IterableLike.foreach(IterableLike.scala:74)
	at scala.collection.IterableLike.foreach$(IterableLike.scala:73)
	at scala.collection.AbstractIterable.foreach(Iterable.scala:56)
	at org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:262)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1(TreeNode.scala:262)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1$adapted(TreeNode.scala:262)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1431)
	at scala.collection.IterableLike.foreach(IterableLike.scala:74)
	at scala.collection.IterableLike.foreach$(IterableLike.scala:73)
	at scala.collection.AbstractIterable.foreach(Iterable.scala:56)
	at org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:262)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis(CheckAnalysis.scala:94)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis$(CheckAnalysis.scala:91)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis(Analyzer.scala:182)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$1(Analyzer.scala:205)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.markInAnalyzer(AnalysisHelper.scala:330)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.executeAndCheck(Analyzer.scala:202)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$analyzed$1(QueryExecution.scala:88)
	at org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:111)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:196)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:775)
	at org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:196)
	at org.apache.spark.sql.execution.QueryExecution.analyzed$lzycompute(QueryExecution.scala:88)
	at org.apache.spark.sql.execution.QueryExecution.analyzed(QueryExecution.scala:86)
	at org.apache.spark.sql.execution.QueryExecution.assertAnalyzed(QueryExecution.scala:78)
	at org.apache.spark.sql.Dataset$.$anonfun$ofRows$2(Dataset.scala:98)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:775)
	at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:96)
	at org.apache.spark.sql.SparkSession.$anonfun$sql$1(SparkSession.scala:618)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:775)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:613)
	at org.apache.spark.sql.SQLContext.sql(SQLContext.scala:651)
	at org.apache.spark.sql.hive.thriftserver.SparkExecuteStatementOperation.org$apache$spark$sql$hive$thriftserver$SparkExecuteStatementOperation$$execute(SparkExecuteStatementOperation.scala:291)
	... 16 more

	at org.apache.hive.jdbc.HiveStatement.waitForOperationToComplete(HiveStatement.java:385)
	at org.apache.hive.jdbc.HiveStatement.execute(HiveStatement.java:254)
	at org.apache.hive.jdbc.HiveStatement.executeQuery(HiveStatement.java:476)
	at org.apache.hive.jdbc.HivePreparedStatement.executeQuery(HivePreparedStatement.java:112)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$.getQueryOutputSchema(JDBCRDD.scala:67)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$.resolveTable(JDBCRDD.scala:57)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRelation$.getSchema(JDBCRelation.scala:239)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:36)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:350)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:274)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$3(DataFrameReader.scala:245)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:245)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:174)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)